[agent]
expertMode = true

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 50231739
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"
